@media  screen and (max-width: 590px) {
    main .resultados {
        display: flex;
        flex-direction: column;
    }

    main .inputs .button #button {
        width: 20%;
    }

}


@media  screen  and (max-width: 320px){
    main .inputs .button #button {
        width: 40%;
    }
}